body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}
h1 {
  color:#66BFBF;
  <!-- background-color: #F6A9A9; well background-color: tag is used just for highlinghting a certain text or just as wallpaper or background color-->
}
h3{
  color: #66BFBF;
}
